**/disjoint_set.py
**/edge.py
**/generate_map_unused.py
**/generate_map2.py
**/heap.py

**/greedy_agent.py
**/README.md


triangle/triangle
triangle/showme



# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk




# Editor temporary/working/backup files #
#########################################
.#*
[#]*#
*~
*$
*.bak
*.diff
*.org
.project
*.rej
.settings/
.*.sw[nop]
.sw[nop]
*.tmp
*.coverage.*
.idea/

# Compiled source #
###################
*.a
*.com
*.class
*.dll
*.exe
*.o
*.py[ocd]
*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.bz2
*.bzip2
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.tbz2
*.tgz
*.zip

# Python files #
################
# setup.py working directory
/build
# sphinx build directory
/_build
# setup.py dist directory
/dist
/doc/build
/doc/cdoc/build
/MANIFEST
# Egg metadata
*.egg-info
/.eggs
# The shelf plugin uses this dir
./.shelf
# coverage reports
.coverage
# ipython files
**/.ipynb_checkpoints
__pycache__

# Logs and databases #
######################
*.log
*.sqlite

# Patches #
###########
*.patch
*.diff

# OS generated files #
######################
.DS_Store*
.VolumeIcon.icns
.fseventsd
Icon?
.gdb_history
ehthumbs.db
Thumbs.db

# pytest-cov #
##############
/.cache
*,cover
htmlcov

# Things specific to this project #
###################################
/.anaconda
/.envs
/record.txt
/docs/build
/examples/movies/movies.db
*.orig
CHANGELOG.temp

examples/*/envs

## testing outputs
cov.xml
coverage.xml
junit.xml
/fake_project